#!/bin/sh



# ~/.xprofile
# sourced at boot by ~/.xinitrc and display managers like lightdm



export XDG_CONFIG_HOME="$HOME/.config"
[ -d /sbin ] && PATH="$PATH:/sbin"
[ -d /usr/sbin ] && PATH="$PATH:/usr/sbin"
[ -d "$HOME/bin" ] && PATH="$HOME/bin:$PATH"

(sleep 1s && nitrogen --restore) & 
awesome &
~/.autostart &
(sleep 1s && nitrogen --restore) & 
picom
