TimeScale=0
Size=69
Frame=0
Border=1
Bars=0
PerCore=0
TrackedCore=0
InTerminal=1
StartupNotification=0
ColorMode=2
UpdateInterval=1
LoadThreshold=3
Background=rgba(21,22,30,0.73064)
Foreground1=rgb(246,245,244)
Foreground2=rgb(192,191,188)
BarsColor=rgba(255,255,255,0)
Mode=1
Foreground3=rgba(213,194,222,0.69)

